<div id="gameBegun" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="color: #800000">The game has begun, slowpoke. </h4>
      </div>
      <div class="modal-body">
        <p>Go ahead and lick your wounds.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location = '/'">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="app-container" ng-controller="GameController">
  <div id="menu-container">
    <div class="container">
      <div class="navbar-header">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div id="logo">
            <span id="first-word">Cards</span>
            <span id="second-word"> for</span>
            <span id="third-word">Humanity</span>
          </div>
         
            <div class=" pull-right">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i>
              <span ng-show="allNotification.length" class="label label-danger">{{ count }}</span></a>

                  <ul class="dropdown-menu notify">
                    <span ng-hide="allNotification.length" style="text-align: center; padding: 10px;"> You have no new notification</span>
                    <li ng-click="readNotifications(item._id)" ng-repeat="item in allNotification"><span><a target="_blank" href="{{ item.link }}">{{ item.message }}</a></span></li>
                  </ul>
                </li>
                <li> <a href="">Tweet </a></li>
                <li id='abandon-game-button' ng-click="abandonGame()">
                  Abandon Game
                </li>
              </ul>
            </div>
        </nav>


      </div>
    </div>
  </div>
  <div id="gameplay-container">
    <div id="upper-gameplay-container">
      <div id="menu-timeremaining-container">
        <div id="menu-container">
          <span id="menu-button">Menu</span>
        </div>
        <div id="timer-container">
          <timer></timer>

        </div>
      </div>
      <div id="question-container-outer">
        <question></question>
      </div>
    </div>
    <answers></answers>
  </div>
</div>