<div id="gameBegun" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="color: #800000">The game has begun, slowpoke. </h4>
          </div>
          <div class="modal-body">
            <p>Go ahead and lick your wounds.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location = '/'">Close</button>
          </div>
        </div>

      </div>
    </div>


<div id="app-container" ng-controller="GameController">
<div class="slider">
  <div id="menu-container" class="nav-wrapper">
      <nav class="navbar" role="navigation">
        <a href="#!/">
          <div id="logo">
            <span id="first-word">Cards</span>
            <span id="second-word"> for</span>
            <span id="third-word">Humanity</span>
          </div>
        </a>

        <div class=" pull-right nav-wrapper">
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons"></i></a>
              <ul class="navbar-nav">
                <li class="dropdown" id="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i>
                    <span ng-show="allNotification.length" class="label label-danger">{{ count }}</span>
                  </a>
                  <ul class="dropdown-menu">
                    <span ng-hide="allNotification.length" style="text-align: center; padding: 10px;">You have no new notification</span>
                    <li ng-click="readNotifications(item._id)" ng-repeat="item in allNotification"><span><a target="_blank" href="{{ item.link }}">{{ item.message }}</a></span></li>
                  </ul>
                </li>
                <li id='abandon-game-button' class="waves-effect waves-light btn" ng-click="abandonGame()">
                  Abandon Game
                </li>
                <li id="donate-now" class="waves-effect waves-light btn">
                  <a href="https://www.crowdrise.com/fundraise-and-volunteer/donate-mobile/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Fcfh.io%2F%23!%2F&stylesheet=&amounts=" target="_blank">Donate Now</a>
                </li>
                <li id="tweet-container">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfh.io" data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App"><img src="../images/tweet.png" alt="share-on-twitter" width="30px" height="30px"></a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                  </script>
                </li>
              </ul>
        </div>
    </nav>
  </div>
  <div id="gameplay-container">
    <div id="upper-gameplay-container">
      <div id="menu-timeremaining-container">
        <div id="menu-container">
          <span id="menu-button">Menu</span>
        </div>
        <div id="timer-container">
          <timer></timer>
        </div>
      </div>
      <div id="question-container-outer">
        <question></question>
      </div>
    </div>
    <answers></answers>
  </div>
</div>
 <!--  ChatBox  -->
<div class="chatbox">
  <div class="chat-header">
    <h3><i class="fa fa-circle" id="chatNotification"></i> ChatBox</h3>
    <fa class="fa-chevron-down fa" id="closeChat"></fa>
    <fa class="fa-chevron-up fa" id="openChat"></fa>
  </div>
  <div class="chat-content" id="chatContent">
    <div id="chatInner" chatbox>
      <div class="chat-begin">This is the beginning of the game session chat</div>
    </div>
  </div>
    <div class="input-field emoji-picker-container">
      <input type="text" class="form-control" id="chatInput" placeholder="Type a message">
    </div>
  <div class="text-right send-message">
     <button class="btn btn-danger" ng-click="sendChatMessage()">Send</button>
  </div>
</div>
