<div id="main-bod">
  <!-- Fixed Logo & Menu Bar Start -->
  <div id="top-part">
    <div class="wpb-top-bar">
      <div class="mod-contain" id="navver">
        <div class="row">
          <!-- Logo -->
          <div class="wpb-logo-container">
            <div class="landing-logo-font">
              <a href="#!/"><span id="first-word">Cards</span>
              <span id="second-word"> for</span> 
              <span id="third-word">Humanity</span></a>
            </div> 
            <div class="col-md-9 wpb-menu-container">
              <ul class="wpb-main-menu">
                <li><a href="#!/"><button id="btn-sign" class="btn donate-log">Home</button></a></li>
              </ul>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fixed Logo & Menu Bar End -->
<!-- Landing Start -->
<div class="wpb-teaser parallax-background" id="homer">
  <div class="background-opacity"></div> 
  <div class="modified-container">
    <div class="row" id="main-text"> 
    <!-- Teaser Text Start -->
      <div id="landing-logo">
        <div ng-controller="IndexController">
          <div class="sign-body">
            <div class="more-sign">
              <form class="signup form-horizontal" ng-submit="signIn()">
                <p id="slogan">Sign in with</p>
                <div id="login-buttons">
                  <a href="/auth/facebook"><img src="/img/icons/004-facebook.png"></a>&nbsp;&nbsp;
                  <a href="/auth/github"><img src="/img/icons/001-github.png"></a>&nbsp;&nbsp;
                  <a href="/auth/twitter"><img src="/img/icons/003-twitter.png"></a>&nbsp;&nbsp;
                  <a href="/auth/google"><img src="/img/icons/002-google-plus.png"></a>
                </div>
                <p id="slogan">Or log in below:</p>
                <div class="sign-error" ng-show="showError() === 'invalid'">
                  Please check your username/password and try again.
                </div>
                <div class="control-group">
                  <label for="email" class="control-label">Email</label>
                  <div class="controls">
                    <input class="input-info form-control" id="email" type="text" name="email" ng-model="formData.email" placeholder="enter email" required novalidate />
                  </div>
                </div>
                <div class="control-group">
                  <label for="password" class="control-label">Password</label>
                  <div class="controls">
                    <input class="input-info form-control" id="password" type="password" name="password" ng-model="formData.password" placeholder="Password" required novalidate />
                  </div>
                </div>
                <div class="form-actions top-margin" id="btn-style">
                  <button id="sign-up-btn-other" type='submit'>Sign In</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

