<div id="main-bod">
  <!-- Fixed Logo & Menu Bar Start -->
  <div id="top-part">
    <div class="wpb-top-bar">
      <div class="mod-contain" id="navver">
        <div class="row">
          <!-- Logo -->
          <div class="wpb-logo-container">
            <div class="landing-logo-font">
              <a href="#!/"><span id="first-word">Cards</span>
              <span id="second-word"> for</span> 
              <span id="third-word">Humanity</span></a>
            </div> 
            <div class="col-md-9 wpb-menu-container">
              <ul class="wpb-main-menu">
                <li><a href="#!/"><button id="btn-sign" class="btn donate-log">Home</button></a></li>
              </ul>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fixed Logo & Menu Bar End -->

<!-- Landing Start -->
<div class="wpb-teaser parallax-background" id="homer">
  <div class="background-opacity"></div> 
  <div class="modified-container">
    <div class="row" id="main-text"> 
    <!-- Teaser Text Start -->
    <div id="landing-logo">
      <div class="col-md-12" ng-controller="IndexController">
        <div class="col-md-9">
          <div class="sign-body">
              <div class="more-sign">
                <form class="signup form-horizontal" ng-submit="signUp()">
                  <p id="slogan">Sign Up with</p>
                    <div id="login-buttons">
                      <a href="/auth/facebook"><img src="/img/icons/004-facebook.png"></a>&nbsp;&nbsp;
                      <a href="/auth/github"><img src="/img/icons/001-github.png"></a>&nbsp;&nbsp;
                      <a href="/auth/twitter"><img src="/img/icons/003-twitter.png"></a>&nbsp;&nbsp;
                      <a href="/auth/google"><img src="/img/icons/002-google-plus.png"></a>
                    </div>
                    <p id="slogan">OR</p>
                    <p id="slogan">Create an Account</p>
                    <div class="control-group">
                      <label for="name" class="control-label" id="slogan">Full Name</label>
                      <div class="controls">
                        <input class="input-info form-control" id="name" type="text" name="name" ng-model="formData.name" placeholder="enter full name" required novalidate />
                      </div>
                    </div>
                    <div class="control-group">
                      <label for="email" class="control-label" id="slogan">Email</label>
                      <div class="controls">
                        <input class="input-info form-control" id="email" type="email" name="email" placeholder="enter email" ng-model="formData.email" required novalidate />
                      </div>
                    </div>
                    <div class="control-group">
                      <label for="password" class="control-label" id="slogan">Password</label>
                      <div class="controls">
                        <input class="input-info form-control" id="password" type="password" name="password" ng-model="formData.password" placeholder="password" required novalidate />
                      </div>
                    </div>
                  <br>
                  <div class="form-actions" id="btn-style">
                  <button id="sign-up-btn-other" type='submit'>Sign Up</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
        <div class="col-md-3 avatar-right">
          <div id="contain-avatars">Select an Avatar
            <ul class="avatar-list">
              <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                <input name="avatar" type='radio' value="{{$index}}">
                  <img ng-src="{{avatar}}">
                </input>
              </li>
            </ul>
        </div>
      </div>
      </div>
    </div>
    </div>
    </div>
  </div>


