<script type="text/javascript">
$(document).ready(function() {

  var ChroMo = '(Chrome)/(\d+)\.(\d+)\.(\d+)\.(\d+) Mobile';

  if (/Android|webOS|CriOs|ChroMo|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) === false && location.href !== "http://localhost:3000/#!/app") {
    $('body').append('');
  }

  //Twitter buttons
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  });
</script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script></script>
<div landing id="main-bod">

<!-- header -->
<div class="top-banner" ng-controller="IndexController">
   <!--banner-info--> 
   <div class="banner-info">
      <div class="container">
        <div class="logo">
          <a href="#!/"><span>Cards For Humanity</span></a>
       </div>
   <!-- script-for-menu -->
            <script>
               $( "span.menu" ).click(function() {
              $( "ul.nav1" ).slideToggle( 300, function() {
              // Animation complete.
                });
                });
            </script>
          <!-- /script-for-menu -->
       
     </div>
   </div>
</div>
<!-- banner -->
<!-- Slider-starts-Here -->
   <script>
    $(function () {
      $("#slider").responsiveSlides({
      auto:true,
      nav: false,
      speed: 500,
      namespace: "callbacks",
      pager:true,
      });
    });
     </script>
   <div class="slider">
      <div class="callbacks_container">
        <ul class="rslides" id="slider">
           <div class="slid banner2">
              <div class="caption">
                <div class="row">
                  <div class="form-container col-md-6 col-md-offset-3" ng-controller="IndexController">
                    <div>
                      <form class="signup form-horizontal" ng-submit="signUp()">
                      <p id="slogan">Sign up with</p>
                      <div id="login-buttons">
                        <a href="/auth/facebook"><i class="fa fa-facebook fa-3x"></i></a>
                        <a href="/auth/github"><i class="fa fa-github fa-3x"></i></a>
                        <a href="/auth/twitter"><i class="fa fa-twitter fa-3x"></i></a>
                        <a href="/auth/google"><i class="fa fa-google fa-3x"></i></a>
                      </div>
                      <p id="slogan">OR</p>
                      <p id="slogan">Create an Account</p>
                      <div class="sign-error" ng-show="showMessage">
                        {{showMessage}}
                      </div>
                        <div class="control-group">
                          <label for="name" class="control-label" id="slogan"></label>
                          <div class="controls">
                            <input class="input-info form-control" id="name" type="text" name="name" ng-model="formData.name" placeholder="Full name" required>
                          </div>
                        </div>
                        <div class="control-group">
                          <label for="email" class="control-label" id="slogan"></label>
                          <div class="controls">
                            <input class="input-info form-control" id="email" type="email" name="email" placeholder="Email" ng-model="formData.email" required>
                          </div>
                        </div>
                        <div class="control-group">
                          <label for="password" class="control-label" id="slogan"></label>
                          <div class="controls">
                            <input class="input-info form-control" id="password" type="password" name="password" ng-model="formData.password" placeholder="Password" required>
                          </div>
                        </div>
                      <br>
                      <div>
                        <div id="contain-avatars">Select an Avatar
                          <ul class="avatar-list">
                            <li ng-repeat="avatar in avatars" class="ng-scope col-xs-6 col-md-3 col-lg-3">
                              <input name="avatar" type='radio' value="{{$index}}">
                                <img ng-src="{{avatar}}">
                              </input>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <br>
                      <div class="form-actions" id="btn-style">
                      <button id="sign-up-btn-other" type='submit'>Sign Up</button>
                      </div></div>
                      
                    </form>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </ul>
     </div>
   </div>
  </div>
<!-- Landing End -->
</div>
